$base_font_size: 14px;
$base_font_weight: 300;
$base_font_family: 'UniviaPro', Arial, Helvetica, sans-serif;
$content_width: 1200px;

$green: #009661;
$dark-red: #b32d2f;
$dark-green: #22342f;
$off-white: #f2f2f2;